.navbar-brand
{
  font-size: 50px;
  color: #00ff00;
}
/* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: #74992e;
  }

a {
    display: block;
    color: white;
    background-color: #ddddddbb;

     
   
.container {
        height: 400px;
        padding: 20px;
        color:id = fff;
        background-color: rgb(255, 0, 212);
      }

      .margin-top {
        margin-top: 80px;
      }

     

      
      /*" Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 600px) {
    .navbar li {
      padding: 10px;
    }
    .box{
        width: 100%
    }

      

