.row
{
  background-color: #00ff00;
}
/* Giving our navbar some padding and a background color */
.navbar-brand {
    padding: 10px;
    background: #800080;
  }

.a {
    display: block;
    color: white;
    background-color: #ddddddbb;
  }
     
/* Highlighting the boxes with a shocking color */  


 
  .box {
    float: left;
    width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 30px; /* if you want space between the images */
    height: 500px;
        background-color: rgb(255, 0, 212);
        margin: 20px;
        margin-top: 200;
      }
      
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
      .box {
        float: left;
        width: 50.00%; /* two boxes */
        padding: 40px; /* if you want space between the images */
      }
      

.margin-top {
        margin-top: 200px;
      }
      
.col {
  color: #00ff00;
}
 
h2 {
color: #FF0000
}

.container background{
  color:yellow
}
     

      
      /*" Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 600px) {
    .navbar li {
      padding: 10px;
    }
    .box{
        width: 100%
    }
  }
      

